<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Southwest-China-Adventures.com</title>
<meta name="keywords" content="Southwest China Adventures:Trekking & Hiking , Peak Climbing , Off raod　overland, Motercycle tours ">
<meta name="description" content="Southwest China Adventures Trekking,Southwest China Peak Climbing,Southwest China Off raod,Southwest China Motercycle tours">
<script type="text/javascript" src="Scripts/flashobject.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<link href="css/qzx.css" rel="stylesheet" type="text/css" />
<link href="css/bodylink.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.STYLE134 {font-size: 24px}
-->
</style>
</head>
<BODY>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="189" height="48"><img src="image/header_00.jpg" width="160" height="96" /></td>
    <td width="771"><div align="right"> How to Pay | Feedbacks &amp; Reviews | News |<br />
      Phone 02899877848778 Mail：ifno@itours.com.cn</div></td>
  </tr>
</table>
<table width="960" height="30" border="0" align="center" cellpadding="0" cellspacing="0" class="title">
  <tr>
    <td width="623" height="30" bgcolor="#999999"><div align="center" class="right">
      <table border="0" align="center" cellpadding="10" cellspacing="0">
        <tr>
          <td bgcolor="#EFEFEF" class="headline">Home</td>
          <td class="headline"><a href="Hiking-trekking-china.html">Hiking &amp;Trekking</a></td>
          <td class="headline"><a href="offroad.html">Self-Drive</a></td>
          <td class="headline"><a href="Classic.html">Sightseeing</a></td>
          <td class="headline"><a href="Customized-Tours.html">Tailor-made</a></td>
          <td class="headline">Destinations</td>
          <td class="headline"><a href="aboutus.html">Why Us</a></td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><span class="f12"><br />
        <strong> 基本资料 </strong><br />
____________________________________________________________________________________________ <br />
<br />
所属单位情况。。<br />
<br />
客户编号：（自动生成）<br />
类型： <br />
姓名：
<input name="textfield23" type="text" size="10" />
性别：
<select name="select10">
  <option>男</option>
  <option>女</option>
</select>
英文名：
<input name="textfield24" type="text" size="10" />
国籍：
<input name="textfield25" type="text" size="10" />
<br />
出生日期：
<input type="submit" name="Submit4" value="选择" />
<br />
信仰：
<select name="select8">
  <option>基督教</option>
  <option>天主教</option>
  <option>伊斯兰教</option>
  <option>佛教</option>
  <option>犹太教</option>
</select>
管理 民族：
<select name="select9">
</select>
管理<br />
所属团体：
<select name="select14">
  <option>无</option>
  <option>以马内利教会</option>
  <option>骑行者</option>
</select>
管理</span><span class="f12"><br />
属灵情况：
<input name="textfield1122" type="text" size="40" />
<br />
性　　格：
<input name="textfield11222" type="text" size="40" />
<br />
兴趣爱好：
<input name="textfield11223" type="text" size="40" />
<br />
<br />
................................................................................<br />
工作部门：
<input name="textfield22" type="text" size="10" />
职务：
<input name="textfield222" type="text" size="10" />
职位状态：
<select name="select13">
  <option selected="selected">在职</option>
  <option>已离职</option>
</select>
<br />
工作地址：
<input name="textfield2222" type="text" size="10" />
<font color="#339900">默认选择公司地址 </font><br />
工作电话：区号
<input name="textfield22222" type="text" size="5" />
-号码
<input name="textfield222222" type="text" size="15" />
-分机
<input name="textfield2222222" type="text" size="4" />
<font color="#339900">（默认选择公司）</font>传真：区号
<input name="textfield222223" type="text" size="5" />
-号码
<input name="textfield2222224" type="text" size="15" />
-分机
<input name="textfield22222222" type="text" size="4" />
<font color="#339900">（默认选择公司）</font><br />
手机1：
<input name="textfield2222223" type="text" size="15" />
手机2：
<input name="textfield22222232" type="text" size="15" />
<br />
邮箱1：
<input name="textfield2222223222" type="text" size="15" />
邮箱2：
<input name="textfield222222322" type="text" size="15" />
<br />
QQ：
<input name="textfield22222232222" type="text" size="15" />
MSN：
<input name="textfield222222322222" type="text" size="15" />
<br />
<br />
................................................................................ <br />
合作情况：<br />
分级：
<select name="select12">
  <option>VIP</option>
  <option>重要</option>
  <option selected="selected">普通</option>
  <option>黑名单</option>
</select>
　　
<input type="checkbox" name="checkbox2" value="checkbox" />
设为常用 <br />
<br />
................................................................................ <br />
家庭电话：
<input name="textfield2222223222233" type="text" size="15" />
家庭住址：
<input name="textfield22222232222332" type="text" size="15" />
<br />
家庭情况：
<textarea name="textarea9"></textarea>
<br />
<br />
................................................................................<br />
身份证号：
<input name="textfield222222322223" type="text" size="15" />
<br />
护照号：
<input name="textfield2222223222232" type="text" size="15" />
　护照有效期：
<input name="textfield22222232222323" type="text" size="15" />
<br />
港澳通行证号：
<input name="textfield22222232222322" type="text" size="15" />
　护照有效期：
<input name="textfield222222322223232" type="text" size="15" />
<br />
士官证号：
<input name="textfield222222322223222" type="text" size="15" />
其它证件：
<input name="textfield2222223222232222" type="text" size="15" />
<br />
<br />
................................................................................<br />
关联：
<select name="select11">
  <option>教会</option>
  <option>同旅行团</option>
  <option>家人</option>
  <option>朋友</option>
  <option>业务伙伴</option>
  <option>同事</option>
</select>
选择<br />
<br />
上传照片：
<input name="file2" type="file" size="10" />
<br />
上传文件：
<input name="file3" type="file" size="10" />
<br />
<br />
备注：<br />
</span><span class="f12">
<textarea name="textarea8"></textarea>
<br />
<br />
................................................................................<br />
<input type="submit" name="Submit" value="修改" />
<input type="reset" name="Submit3" value="重置" />
<br />
<br />
</span></td>
  </tr>
</table>
<br />
<br />
<table width="960" height="60" border="0" align="center" cellpadding="0" cellspacing="0" class="title">
  <tr>
    <td width="623" height="30" bgcolor="#EFEFEF"><div align="center">Southwest-China-Adventures.com</div></td>
  </tr>
  <tr>
    <td height="30" bgcolor="#EFEFEF" class="TP05"><div align="center"> Add: Huaqiao Building, #15 South Three Sections of Yihuan Road, Chengdu, Sichuan, China<br />
      Tel: +86-28-85580038 / 85562905 <br />
      E-mail: olivierwagemans@hotmail.com </div></td>
  </tr>
</table>
</body>
</html>
