@CHARSET "UTF-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.h1-black {
	font-family: "微软雅黑";
	font-size: 2.25em;
	font-weight: bold;
	color: #333333;
}
.h1-2 {
	font-family: "微软雅黑";
	font-size: 1.875em;
	color: #666666;
}
.h2-24 {
	font-family: "微软雅黑";
	font-size: 1.5em;
}
.h2-24red {
	font-family: "微软雅黑";
	font-size: 1.5em;
	font-color: #990000;
}
.f12-gao1 {
	font-size: 0.75em;
	line-height: 20px;
	color: #333333;
}
.f14-gao1 {
	font-size: 0.875em;
	line-height: 30px;
	color: #333333;
}
.STYLE2 {font-family: "微软雅黑"; font-size: 1.1em; color: #990000; }
.STYLE3 {
	color: #990000;font-family: "微软雅黑";
}
.STYLE5 {font-family: "黑体";
font-size: 2.25em;
font-weight: bold;
color: #990000;}
.STYLE6 {font-family: "微软雅黑"}
.STYLE7 {color: #666666; font-family: "微软雅黑"; }
.STYLE8 {font-size: 14px; line-height: 1.875em; color: #333333; font-family: "微软雅黑"; }
.STYLE9 {font-family: "微软雅黑"; font-size: 2.25em; font-weight: bold; color: #333333; }
.STYLE10 {font-family: "微软雅黑"; font-size: 1.875em; color: #666666; }
.trbanner{font-family: "微软雅黑"; font-size: 1.4em; background-color: #FF0000;}
.btn-item {
  background: grey;  /* transparent */
  width:0.8em;
  height:0.8em;
   float:middle; 
}
.btn-item__cur {
  background: #8B0000;
  border-color: #fff;
  width:1.2em;
  height:1.2em;
  float:middle; 
}
tr td ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
tr td ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;}
tr td ol li.seleted{background: #1AA4CA;}
  a.tsSTYLE3:link {
    font-family: "微软雅黑";
   /*  color: #FFFFFF; */
    text-decoration: none;
}
a.tsSTYLE3:hover {
    color:#990000;/*  #cccc99; */
    font-family: "微软雅黑";
    text-decoration: none;
}
a.tsSTYLE3:active {
    font-family: "微软雅黑";
    text-decoration: none;
}
a.tsSTYLE3:visited {
    /* color: #FFFFFF; */
} 
#banner-index{
/*   width:72.6%;
  height:28.8%; */
}
#top-menu{
	width:100%;
  /*width:72.6%;
  height:17.36%;*/
  text-align:center;
  align:center;
  font-family: "微软雅黑";
  font-size;1.4em;
 /*  font-size: 2.25em;
  font-weight: bold; */
}
#top-menu tr.trbanner{
	color:#FFFFFF;
	background-color:#C7342C;
	text-decoration:none;
	font-size;1.4em;
}
#top-menu td{
  font-family: "微软雅黑";
  font-size: 21px;
 
}