<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.dao.LogSettingDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.itour.entity.LogSetting" >
	<result column="log_code" property="logCode"/>
	<result column="table_name" property="tableName"/>
	<result column="function" property="function"/>
	<result column="url_teimplate" property="urlTeimplate"/>
	<result column="creater" property="creater"/>
	<result column="deletescript_template" property="deletescriptTemplate"/>
	<result column="updatescript_template" property="updatescriptTemplate"/>
	<result column="create_time" property="createTime"/>
	<result column="id" property="id"/>
</resultMap>
       
<!-- log_setting table all fields -->
<sql id="Base_Column_List" >
	 id,log_code, table_name, function, url_teimplate, creater, deletescript_template, updatescript_template, create_time
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="logCode != null and logCode != ''" >
	    and log_code =  #{logCode}
	</if>
	<if test="tableName != null and tableName != ''" >
	    and table_name =  #{tableName}
	</if>
	<if test="function != null and function != ''" >
	    and function =  #{function}
	</if>
	<if test="urlTeimplate != null and urlTeimplate != ''" >
	    and url_teimplate =  #{urlTeimplate}
	</if>
	<if test="creater != null and creater != ''" >
	    and creater =  #{creater}
	</if>
	<if test="deletescriptTemplate != null and deletescriptTemplate != ''" >
	    and deletescript_template =  #{deletescriptTemplate}
	</if>
	<if test="updatescriptTemplate != null and updatescriptTemplate != ''" >
	    and updatescript_template =  #{updatescriptTemplate}
	</if>
	<if test="createTime != null and createTime != ''" >
	    and create_time =  #{createTime}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.itour.entity.LogSetting" >
<!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into log_setting(id,log_code,table_name,function,url_teimplate,creater,deletescript_template,updatescript_template,create_time)
 values(#{id},#{logCode},#{tableName},#{function},#{urlTeimplate},#{creater},#{deletescriptTemplate},#{updatescriptTemplate},now())
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="java.util.Map" >
  update log_setting set table_name=#{tableName},function=#{function},url_teimplate=#{urlTeimplate},creater=#{creater},deletescript_template=#{deletescriptTemplate},updatescript_template=#{updatescriptTemplate},create_time=now() where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.itour.entity.LogSetting" >
	update log_setting set 
	<trim  suffixOverrides="," >
	<if test="tableName != null  ">
		table_name=#{tableName},
	</if>
	<if test="function != null  ">
		function=#{function},
	</if>
	<if test="urlTeimplate != null  ">
		url_teimplate=#{urlTeimplate},
	</if>
	<if test="creater != null and creater!='' ">
		creater=#{creater},
	</if>
	<if test="deletescriptTemplate != null  ">
		deletescript_template=#{deletescriptTemplate},
	</if>
	<if test="updatescriptTemplate != null  ">
		updatescript_template=#{updatescriptTemplate},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="java.util.Map">
	delete from log_setting where id = #{id}
</delete>
 
<!-- 根据id查询 日志设置 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from log_setting where id = #{id}
</select>

<!-- 日志设置 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from log_setting 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询日志设置列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from log_setting 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
