<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.dao.OrderDetailDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.itour.entity.OrderDetail" >
	<result column="id" property="id"/>
	<result column="status" property="status"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="content" property="content"/>
	<result column="remark" property="remark"/>
	<result column="per_price" property="perPrice"/>
	<result column="count" property="count"/>
	<result column="order_id" property="orderId"/>
	<result column="is_valid" property="isValid"/>
	<result column="adults" property="adults"/>
	<result column="children" property="children"/>
	<result column="group_code" property="groupCode"/>
	<result column="group_date" property="groupDate"/>
	<result column="travelfashion" property="travelfashion"/>
	<result column="singleorcluster" property="singleorcluster"/>
	<result column="travelrequest" property="travelrequest"/>
	<result column="hotel" property="hotel"/>
	<result column="travel_order" property="travelOrder"/>
	<result column="stayrequest" property="stayrequest"/>
	<result column="traffic" property="traffic"/>
	<result column="tickets" property="tickets"/>
	<result column="foodrequest" property="foodrequest"/>
	<result column="recreation" property="recreation"/>
	<result column="specialrequest" property="specialrequest"/>
	<result column="guide" property="guide"/>
	<result column="comefrom" property="comefrom"/>
	<result column="food_arrange" property="foodArrange"/>
	<result column="taste" property="taste"/>
	<result column="hatefood" property="hatefood"/>
	<result column="train" property="train"/>
	<result column="cruise" property="cruise"/>
	<result column="car_new" property="car_new"/>
	<result column="car_no_smoking" property="car_no_smoking"/>
	<result column="car" property="car"/>
	<result column="shipping_space" property="shipping_space"/>
	<result column="plane" property="plane"/>
	<result column="hotel_info" property="hotel_info"/>
	<result column="hotel_quiet" property="hotel_quiet"/>
	<result column="hotel_no_smoking" property="hotel_no_smoking"/>
	<result column="suite" property="suite"/>
	<result column="db_room" property="db_room"/>
	<result column="bb_room" property="bb_room"/>
	<result column="position" property="position"/>
</resultMap>
       
<!-- order_detail table all fields -->
<sql id="Base_Column_List" >
	 id, status, create_time, update_time, content, remark, per_price, count, order_id,is_valid,adults,children,group_code,group_date,
	 travelfashion,singleorcluster,travelrequest,hotel,travel_order,stayrequest,traffic,tickets,foodrequest,recreation,specialrequest,guide,comefrom,
	 food_arrange,taste,hatefood,train,cruise,car_new,car_no_smoking,car,shipping_space,plane,hotel_info,hotel_quiet,hotel_no_smoking,suite,db_room,bb_room,position
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where is_valid=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id like CONCAT('%', #{id}, '%')
	</if>
	<if test="status != null and status !=''" >
	    and status =  #{status}
	</if>
	<if test="createTime != null and createTime !=''" >
	    and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{createTime},'%Y-%m-%d') 
	    <!-- unix_timestamp(create_time)  -->
	</if>
	<if test="updateTime != null and updateTime !=''" >
	   and DATE_FORMAT(update_time,'%Y-%m-%d') = DATE_FORMAT(#{updateTime},'%Y-%m-%d') 
	</if>
	<if test="content != null and content != ''" >
	    and content like CONCAT('%', #{content}, '%')
	</if>
	<if test="remark != null and remark != ''" >
	    and remark like CONCAT('%', #{remark}, '%')
	</if>
	<if test="perPrice != null and perPrice !=''" >
	    and per_price =  #{perPrice}
	</if>
	<if test="count != null and count !=''" >
	    and count =  #{count}
	</if>
	<if test="orderId != null and orderId != ''" >
	    and order_id = #{orderId}
	</if>
	<if test="adults != null and adults != ''" >
	    and adults = #{adults}
	</if>
	<if test="children != null and children != ''" >
	    and children = #{children}
	</if>
	<if test="groupCode != null and groupCode != ''" >
	    and group_code = #{groupCode}
	</if>
	<if test="groupDate != null and groupDate != ''" >
	    and DATE_FORMAT(group_date,'%Y-%m-%d') = DATE_FORMAT(#{groupDate},'%Y-%m-%d') 
	</if>
	<if test="travelfashion != null and travelfashion != ''" >
	    and travelfashion like CONCAT('%', #{travelfashion}, '%')
	</if>
	<if test="singleorcluster != null and singleorcluster != ''" >
	    and singleorcluster like CONCAT('%', #{singleorcluster}, '%')
	</if>
	<if test="travelrequest != null and travelrequest !=''" >
	    and travelrequest =  #{travelrequest}
	</if>
	<if test="hotel != null and hotel !=''" >
	    and hotel =  #{hotel}
	</if>
	<if test="travelOrder != null and travelOrder != ''" >
	    and travel_order = #{travelOrder}
	</if>
	<if test="stayrequest != null and stayrequest != ''" >
	    and stayrequest = #{stayrequest}
	</if>
	<if test="traffic != null and traffic != ''" >
	    and traffic = #{traffic}
	</if>
	<if test="tickets != null and tickets != ''" >
	    and tickets = #{tickets}
	</if>
	<if test="foodrequest != null and foodrequest != ''" >
	    and foodrequest =  #{foodrequest}
	</if>
	<if test="recreation != null and recreation != ''" >
	    and recreation = #{recreation}
	</if>
	<if test="specialrequest != null and specialrequest != ''" >
	    and specialrequest =  #{specialrequest}
	</if>
	<if test="guide != null and guide != ''" >
	    and guide = #{guide}
	</if>
	<if test="comefrom != null and comefrom != ''" >
	    and comefrom =  #{comefrom}
	</if>
	<if test="foodArrange != null and foodArrange !=''" >
	    and food_arrange =  #{foodArrange}
	</if>
	<if test="taste != null and taste !=''" >
	    and taste =  #{taste}
	</if>
	<if test="hatefood != null and hatefood != ''" >
	    and hatefood = #{hatefood}
	</if>
	<if test="train != null and train != ''" >
	    and train = #{train}
	</if>
	<if test="cruise != null and cruise != ''" >
	    and cruise = #{cruise}
	</if>
	<if test="car_new != null and car_new != ''" >
	    and car_new = #{car_new}
	</if>
	<if test="car_no_smoking != null and car_no_smoking != ''" >
	    and car_no_smoking =  #{car_no_smoking}
	</if>
	<if test="car != null and car != ''" >
	    and car = #{car}
	</if>
	<if test="shipping_space != null and shipping_space != ''" >
	    and shipping_space =  #{shipping_space}
	</if>
	<if test="plane != null and plane != ''" >
	    and plane = #{plane}
	</if>
	<if test="hotel_info != null and hotel_info != ''" >
	    and hotel_info =  #{hotel_info}
	</if>
	<if test="hotel_quiet != null and hotel_quiet != ''" >
	    and hotel_quiet = #{hotel_quiet}
	</if>
	<if test="hotel_no_smoking != null and hotel_no_smoking != ''" >
	    and hotel_no_smoking =  #{hotel_no_smoking}
	</if>
	<if test="suite != null and suite != ''" >
	    and suite = #{suite}
	</if>
	<if test="db_room != null and db_room != ''" >
	    and db_room =  #{db_room}
	</if>
	<if test="bb_room != null and bb_room != ''" >
	    and bb_room = #{bb_room}
	</if>
	<if test="position != null and position != ''" >
	    and position =  #{position}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.itour.entity.OrderDetail" >
<!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into order_detail(id,status,create_time,update_time,content,remark,per_price,count,order_id,is_valid,adults,children,group_code,group_date,travelfashion,singleorcluster,travelrequest,hotel,travel_order,stayrequest,traffic,tickets,foodrequest,recreation,specialrequest,guide,comefrom,food_arrange,taste,hatefood,train,cruise,car_new,car_no_smoking,car,shipping_space,plane,hotel_info,hotel_quiet,hotel_no_smoking,suite,db_room,bb_room,position)
 values(#{id},#{status},now(),now(),#{content},#{remark},#{perPrice},#{count},#{orderId},1,#{adults},#{children},#{groupCode},#{groupDate}, #{travelfashion},#{singleorcluster},#{travelrequest},#{hotel},#{travelOrder},#{stayrequest},#{traffic},#{tickets},#{foodrequest},#{recreation},#{specialrequest},#{guide},#{comefrom},#{foodArrange},#{taste},#{hatefood},#{train},#{cruise},#{car_new},#{car_no_smoking},#{car},#{shipping_space},#{plane},#{hotel_info},#{hotel_quiet},#{hotel_no_smoking},#{suite},#{db_room},#{bb_room},#{position})
</insert>

 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="update" parameterType="com.itour.entity.OrderDetail" >
	update order_detail set update_time=now(),
	<trim  suffixOverrides="," >
		<if test="isValid != null and isValid !=''">
			is_valid = #{isValid},
		</if>
		<if test="status != null  and status !=''">
			status=#{status},
		</if>
		<if test="content != null and content != '' ">
			content=#{content},
		</if>
		<if test="remark != null and remark != '' ">
			remark=#{remark},
		</if>
		<if test="perPrice != null and perPrice !='' ">
			per_price=#{perPrice},
		</if>
		<if test="count != null and count !=''">
			count=#{count},
		</if>
		<if test="orderId != null and orderId != '' ">
			order_id=#{orderId},
		</if>
		<if test="adults != null and adults != ''" >
		     adults = #{adults},
		</if>
		<if test="children != null and children != ''" >
		     children = #{children},
		</if>
		<if test="groupCode != null and groupCode != ''" >
		     group_code = #{groupCode},
		</if>
		<if test="groupDate != null and groupDate != ''" >
		     group_date = #{groupDate} ,
		</if>
	<if test="travelfashion != null and travelfashion != ''" >
	     travelfashion =#{travelfashion},
	</if>
	<if test="singleorcluster != null and singleorcluster != ''" >
	     singleorcluster = #{singleorcluster},
	</if>
	<if test="travelrequest != null and travelrequest !=''" >
	     travelrequest =  #{travelrequest},
	</if>
	<if test="hotel != null and hotel !=''" >
	     hotel =  #{hotel},
	</if>
	<if test="travelOrder != null and travelOrder != ''" >
	    travel_order = #{travelOrder},
	</if>
	<if test="stayrequest != null and stayrequest != ''" >
	     stayrequest = #{stayrequest},
	</if>
	<if test="traffic != null and traffic != ''" >
	     traffic = #{traffic},
	</if>
	<if test="tickets != null and tickets != ''" >
	     tickets = #{tickets},
	</if>
	<if test="foodrequest != null and foodrequest != ''" >
	     foodrequest =  #{foodrequest},
	</if>
	<if test="recreation != null and recreation != ''" >
	     recreation = #{recreation},
	</if>
	<if test="specialrequest != null and specialrequest != ''" >
	     specialrequest =  #{specialrequest},
	</if>
	<if test="guide != null and guide != ''" >
	    guide = #{guide},
	</if>
	<if test="comefrom != null and comefrom != ''" >
	    comefrom =  #{comefrom},
	</if>
	<if test="foodArrange != null and foodArrange !=''" >
	     food_arrange =  #{foodArrange},
	</if>
	<if test="taste != null and taste !=''" >
	     taste =  #{taste},
	</if>
	<if test="hatefood != null and hatefood != ''" >
	     hatefood = #{hatefood},
	</if>
	<if test="train != null and train != ''" >
	     train = #{train},
	</if>
	<if test="cruise != null and cruise != ''" >
	     cruise = #{cruise},
	</if>
	<if test="car_new != null and car_new != ''" >
	     car_new = #{car_new},
	</if>
	<if test="car_no_smoking != null and car_no_smoking != ''" >
	     car_no_smoking =  #{car_no_smoking},
	</if>
	<if test="car != null and car != ''" >
	     car = #{car},
	</if>
	<if test="shipping_space != null and shipping_space != ''" >
	     shipping_space =  #{shipping_space},
	</if>
	<if test="plane != null and plane != ''" >
	     plane = #{plane},
	</if>
	<if test="hotel_info != null and hotel_info != ''" >
	     hotel_info =  #{hotel_info},
	</if>
	<if test="hotel_quiet != null and hotel_quiet != ''" >
	     hotel_quiet = #{hotel_quiet},
	</if>
	<if test="hotel_no_smoking != null and hotel_no_smoking != ''" >
	     hotel_no_smoking =  #{hotel_no_smoking},
	</if>
	<if test="suite != null and suite != ''" >
	     suite = #{suite},
	</if>
	<if test="db_room != null and db_room != ''" >
	     db_room =  #{db_room},
	</if>
	<if test="bb_room != null and bb_room != ''" >
	     bb_room = #{bb_room},
	</if>
	<if test="position != null and position != ''" >
	     position =  #{position},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="java.util.Map">
	delete from order_detail where id = #{id}
</delete>
 <!-- 逻辑删除 -->
 <update id="logicdelete" parameterType="java.lang.String">
	update order_detail set is_valid=0 where id = #{id}
</update>
<!-- 根据id查询 订单详情 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from order_detail where id = #{id}
</select>
<select id="queryByOrderId"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from order_detail where travel_order = #{orderId}
</select>
<!-- 订单详情 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="com.itour.base.page.BasePage">
	select count(1) from order_detail 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询订单详情列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="com.itour.base.page.BasePage">
	select 
	<include refid="Base_Column_List"/>
	from order_detail 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
