<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.dao.QuoteFormDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.itour.entity.QuoteForm" >
	<result column="id" property="id"/>
	<result column="route_template" property="routeTemplate"/>
	<result column="berief_trip" property="beriefTrip"/>
	<result column="show_trip" property="showTrip"/>
	<result column="adults" property="adults"/>
	<result column="children" property="children"/>
	<result column="update_time" property="updateTime"/>
	<result column="remark" property="remark"/>
	<result column="as_adult" property="asAdult"/>
	<result column="ticket_block" property="ticketBlock"/>
	<result column="ticket_asadult" property="ticketAsadult"/>
	<result column="travel_docs" property="travelDocs"/>
	<result column="traveldoc_asadult" property="traveldocAsadult"/>
	<result column="tour_guide" property="tourGuide"/>
	<result column="tourguide_asadult" property="tourguideAsadult"/>
	<result column="hotel" property="hotel"/>
	<result column="hotel_asadult" property="hotelAsadult"/>
	<result column="rent_car" property="rentCar"/>
	<result column="rentcar_asadult" property="rentcarAsadult"/>
	<result column="big_traffic" property="bigTraffic"/>
	<result column="big_traffic_sum" property="bigTrafficSum"/>
	<result column="bigtraffice_asadult" property="bigtrafficeAsadult"/>
	<result column="dinner" property="dinner"/>
	<result column="dinner_asadult" property="dinnerAsadult"/>
	<result column="insurance" property="insurance"/>
	<result column="insurance_asadult" property="insuranceAsadult"/>
	<result column="comprehensive_costs" property="comprehensiveCosts"/>
	<result column="comphcost_asadult" property="comphcostAsadult"/>
	<result column="recreation" property="recreation"/>
	<result column="recreation_asadult" property="recreationAsadult"/>
	<result column="item_guide" property="itemGuide"/>
	<result column="itemguide_asadult" property="itemguideAsadult"/>
	<result column="bathorse_cost" property="bathorseCost"/>
	<result column="bathcost_asadult" property="bathcostAsadult"/>
	<result column="ridehorse_cost" property="ridehorseCost"/>
	<result column="ridecost_asadult" property="ridecostAsadult"/>
	<result column="climb_register_cost" property="climbRegisterCost"/>
	<result column="climbrcost_asadult" property="climbrcostAsadult"/>
	<result column="climb_nexus_cost" property="climbNexusCost"/>
	<result column="climbncost_asadult" property="climbncostAsadult"/>
	<result column="else_cost" property="elseCost"/>
	<result column="elsecost_asadult" property="elsecostAsadult"/>
	<result column="presented" property="presented"/>
	<result column="valid" property="valid"/>
	<result column="create_by" property="createBy"/>
	<result column="update_by" property="updateBy"/>
	<result column="create_time" property="createTime"/>
	<result column="group_code" property="groupCode"/>
	<result column="group_date" property="groupDate"/>
	<result column="show_ticket" property="showTicket"/>
	<result column="show_traveldoc" property="showTraveldoc"/>
	<result column="show_tourguide" property="showTourguide"/>
	<result column="show_hotel" property="showHotel"/>
	<result column="show_rentcar" property="showRentcar"/>
	<result column="show_bigtraffic" property="showBigtraffic"/>
	<result column="show_dinner" property="showDinner"/>
	<result column="show_insurance" property="showInsurance"/>
	<result column="show_comphcost" property="showComphcost"/>
	<result column="show_recreation" property="showRecreation"/>
	<result column="show_itemguide" property="showItemguide"/>
	<result column="show_bathorse" property="showBathorse"/>
	<result column="show_ridehorse" property="showRidehorse"/>
	<result column="show_climbregister" property="showClimbregister"/>
	<result column="show_climbnexus" property="showClimbnexus"/>
	<result column="show_elsecost" property="showElsecost"/>
	<result column="show_presented" property="showPresented"/>
	<result column="agoda_detail" property="agodaDetail"/>
</resultMap>
 <resultMap id="BaseResultMapVo" type="com.itour.vo.QuoteFormVO" >
	<result column="id" property="id"/>
	<result column="route_template" property="routeTemplate"/>
	<result column="berief_trip" property="beriefTrip"/>
	<result column="show_trip" property="showTrip"/>
	<result column="adults" property="adults"/>
	<result column="children" property="children"/>
	<result column="update_time" property="updateTime"/>
	<result column="remark" property="remark"/>
	<result column="as_adult" property="asAdult"/>
	<result column="ticket_block" property="ticketBlock"/>
	<result column="ticket_asadult" property="ticketAsadult"/>
	<result column="travel_docs" property="travelDocs"/>
	<result column="traveldoc_asadult" property="traveldocAsadult"/>
	<result column="tour_guide" property="tourGuide"/>
	<result column="tourguide_asadult" property="tourguideAsadult"/>
	<result column="hotel" property="hotel"/>
	<result column="hotel_asadult" property="hotelAsadult"/>
	<result column="rent_car" property="rentCar"/>
	<result column="rentcar_asadult" property="rentcarAsadult"/>
	<result column="big_traffic" property="bigTraffic"/>
	<result column="big_traffic_sum" property="bigTrafficSum"/>
	<result column="bigtraffice_asadult" property="bigtrafficeAsadult"/>
	<result column="dinner" property="dinner"/>
	<result column="dinner_asadult" property="dinnerAsadult"/>
	<result column="insurance" property="insurance"/>
	<result column="insurance_asadult" property="insuranceAsadult"/>
	<result column="comprehensive_costs" property="comprehensiveCosts"/>
	<result column="comphcost_asadult" property="comphcostAsadult"/>
	<result column="recreation" property="recreation"/>
	<result column="recreation_asadult" property="recreationAsadult"/>
	<result column="item_guide" property="itemGuide"/>
	<result column="itemguide_asadult" property="itemguideAsadult"/>
	<result column="bathorse_cost" property="bathorseCost"/>
	<result column="bathcost_asadult" property="bathcostAsadult"/>
	<result column="ridehorse_cost" property="ridehorseCost"/>
	<result column="ridecost_asadult" property="ridecostAsadult"/>
	<result column="climb_register_cost" property="climbRegisterCost"/>
	<result column="climbrcost_asadult" property="climbrcostAsadult"/>
	<result column="climb_nexus_cost" property="climbNexusCost"/>
	<result column="climbncost_asadult" property="climbncostAsadult"/>
	<result column="else_cost" property="elseCost"/>
	<result column="elsecost_asadult" property="elsecostAsadult"/>
	<result column="presented" property="presented"/>
	<result column="valid" property="valid"/>
	<result column="create_by" property="createBy"/>
	<result column="update_by" property="updateBy"/>
	<result column="create_time" property="createTime"/>
	<result column="group_code" property="groupCode"/>
	<result column="group_date" property="groupDate"/>
	<result column="show_ticket" property="showTicket"/>
	<result column="show_traveldoc" property="showTraveldoc"/>
	<result column="show_tourguide" property="showTourguide"/>
	<result column="show_hotel" property="showHotel"/>
	<result column="show_rentcar" property="showRentcar"/>
	<result column="show_bigtraffic" property="showBigtraffic"/>
	<result column="show_dinner" property="showDinner"/>
	<result column="show_insurance" property="showInsurance"/>
	<result column="show_comphcost" property="showComphcost"/>
	<result column="show_recreation" property="showRecreation"/>
	<result column="show_itemguide" property="showItemguide"/>
	<result column="show_bathorse" property="showBathorse"/>
	<result column="show_ridehorse" property="showRidehorse"/>
	<result column="show_climbregister" property="showClimbregister"/>
	<result column="show_climbnexus" property="showClimbnexus"/>
	<result column="show_elsecost" property="showElsecost"/>
	<result column="show_presented" property="showPresented"/>
	<result column="agoda_detail" property="agodaDetail"/>
</resultMap>      
<!-- quotation table all fields -->
<sql id="Base_Column_List" >
	  id, route_template, berief_trip,show_trip, adults,children, create_time, update_time, remark, create_by, update_by, as_adult,ticket_block,travel_docs,
	  traveldoc_asadult,tour_guide,tourguide_asadult,hotel,hotel_asadult,rent_car,rentcar_asadult,big_traffic,big_traffic_sum,bigtraffice_asadult,dinner,
	  dinner_asadult,insurance,insurance_asadult,comprehensive_costs,comphcost_asadult,recreation,recreation_asadult,item_guide,itemguide_asadult,bathorse_cost,
	  bathcost_asadult,ridehorse_cost,ridecost_asadult,climb_register_cost,climbrcost_asadult,climb_nexus_cost,climbncost_asadult,else_cost,elsecost_asadult,
	  presented,valid,group_code,group_date,show_ticket,show_traveldoc,show_tourguide,show_hotel,show_rentcar,show_bigtraffic,show_dinner,show_insurance,show_comphcost,
	  show_recreation,show_itemguide,show_bathorse,show_ridehorse,show_climbregister,show_climbnexus,show_elsecost,show_presented,agoda_detail
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where quote_form.valid=1
<trim  suffixOverrides="," >
		<if test="routeTemplate != null and routeTemplate != ''">and quote_form.route_template like CONCAT('%', #{routeTemplate}, '%')</if>
		<if test="beriefTrip != null and beriefTrip != ''">and quote_form.berief_trip like CONCAT('%', #{beriefTrip}, '%')</if>
		<if test="showTrip != null and showTrip  != ''">and quote_form.show_trip like CONCAT('%', #{showTrip}, '%')</if>
		<if test="adults != null">and quote_form.adults=#{adults}</if>
		<if test="children != null">and quote_form.children=#{children}</if>
		<if test="remark != null and remark != ''" >
		    and quote_form.remark like CONCAT('%', #{remark}, '%')
		</if>
		<if test="createBy != null and createBy !=''">and quote_form.create_by=#{createBy}</if>
		<if test="updateBy != null and updateBy !=''">and quote_form.update_by=#{updateBy}</if>
		<if test="asAdult!=null">and quote_form.as_adult=#{asAdult}</if>
		<if test="ticketBlock!=null and ticketBlock !=''">and quote_form.ticket_block like CONCAT('%', #{ticketBlock}, '%')</if>
		<if test="travelDocs!=null and travelDocs !=''">and quote_form.travel_docs like CONCAT('%', #{travelDocs}, '%')</if>
		<if test="traveldocAsadult !=null">and quote_form.traveldoc_asadult=#{traveldocAsadult}</if>
		<if test="tourGuide!=null and tourGuide !=''">and quote_form.tour_guide like CONCAT('%', #{tourGuide}, '%')</if>
		<if test="tourguideAsadult!=null">and quote_form.tourguide_asadult=#{tourguideAsadult}</if>
		<if test="hotel!=null and hotel!=''">and quote_form.hotel like CONCAT('%', #{hotel}, '%')</if>
		<if test="hotelAsadult!=null">and quote_form.hotel_asadult=#{hotelAsadult}</if>
		<if test="rentCar!=null and rentCar !=''">and quote_form.rent_car like CONCAT('%', #{rentCar}, '%')</if>
		<if test="rentcarAsadult!=null">and quote_form.rentcar_asadult=#{rentcarAsadult}</if>
		<if test="bigTraffic!=null and bigTraffic !=''">and quote_form.big_traffic like CONCAT('%', #{bigTraffic}, '%')</if>
		<if test="bigTrafficSum!=null">and quote_form.big_traffic_sum=#{bigTrafficSum}</if>
		<if test="bigtrafficeAsadult!=null">and quote_form.bigtraffice_asadult=#{bigtrafficeAsadult}</if>
		<if test="dinner!=null and dinner !=''">and quote_form.dinner like CONCAT('%', #{dinner}, '%')</if>
		<if test="dinnerAsadult!=null">and quote_form.dinner_asadult=#{dinnerAsadult}</if>
		<if test="insurance!=null and insurance!=''">and quote_form.insurance like CONCAT('%', #{insurance}, '%')</if>
		<if test="insuranceAsadult!=null">and quote_form.insurance_asadult=#{insuranceAsadult}</if>
		<if test="comprehensiveCosts!=null and comprehensiveCosts !=''">and quote_form.comprehensive_costs like CONCAT('%', #{comprehensiveCosts}, '%')</if>
		<if test="comphcostAsadult!=null">and quote_form.comphcost_asadult=#{comphcostAsadult}</if>
		<if test="recreation!=null and recreation!=''">and quote_form.recreation like CONCAT('%', #{recreation}, '%')</if>
		<if test="recreationAsadult!=null">and quote_form.recreation_asadult=#{recreationAsadult}</if>
		<if test="itemGuide!=null and itemGuide !=''">and quote_form.item_guide like CONCAT('%', #{itemGuide}, '%')</if>
		<if test="itemguideAsadult!=null">and quote_form.itemguide_asadult=#{itemguideAsadult}</if>
		<if test="bathorseCost!=null and bathorseCost !=''">and quote_form.bathorse_cost like CONCAT('%', #{bathorseCost}, '%')</if>
		<if test="bathcostAsadult!=null">and quote_form.bathcost_asadult=#{bathcostAsadult}</if>
		<if test="ridehorseCost!=null and ridehorseCost !=''">and quote_form.ridehorse_cost like CONCAT('%', #{ridehorseCost}, '%')</if>
		<if test="ridecostAsadult!=null">and quote_form.ridecost_asadult=#{ridecostAsadult}</if>
		<if test="climbRegisterCost!=null and climbRegisterCost !=''">and quote_form.climb_register_cost like CONCAT('%', #{climbRegisterCost}, '%')</if>
		<if test="climbrcostAsadult!=null">and quote_form.climbrcost_asadult=#{climbrcostAsadult}</if>
		<if test="climbNexusCost!=null and climbNexusCost !=''">and quote_form.climb_nexus_cost like CONCAT('%', #{climbNexusCost}, '%')</if>
		<if test="climbncostAsadult!=null">and quote_form.climbncost_asadult=#{climbncostAsadult}</if>
		<if test="elseCost!=null and elseCost!=''">and quote_form.else_cost like CONCAT('%', #{remark}, '%')</if>
		<if test="elsecostAsadult!=null and elsecostAsadult!=''">and quote_form.elsecost_asadult=#{elsecostAsadult}</if>
		<if test="presented!=null and presented!=''">and quote_form.presented like CONCAT('%', #{presented}, '%')</if>
		<if test="createTime != null and createTime !=''" >
		   and DATE_FORMAT(quote_form.create_time,'%Y-%m-%d') = DATE_FORMAT(#{createTime},'%Y-%m-%d') 
		</if>
		<if test="updateTime != null and updateTime !=''" >
		   and DATE_FORMAT(quote_form.update_time,'%Y-%m-%d') = DATE_FORMAT(#{updateTime},'%Y-%m-%d') 
		</if>
		<if test="groupCode !=null and groupCode!=''">and quote_form.group_code =#{groupCode}</if>
		<if test="groupDate != null and groupDate !=''" >
		   and DATE_FORMAT(quote_form.group_date,'%Y-%m-%d') = DATE_FORMAT(#{groupDate},'%Y-%m-%d') 
		</if>
		<if test="agodaDetail !=null and agodaDetail !=''">and  quote_form.agoda_detail like CONCAT('%', #{agodaDetail}, '%')</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.itour.entity.QuoteForm" >
<!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into quote_form(id,route_template, berief_trip,show_trip, adults,children, create_time, update_time, remark, create_by, update_by, as_adult,ticket_block,travel_docs,
	  traveldoc_asadult,tour_guide,tourguide_asadult,hotel,hotel_asadult,rent_car,rentcar_asadult,big_traffic,big_traffic_sum,bigtraffice_asadult,dinner,
	  dinner_asadult,insurance,insurance_asadult,comprehensive_costs,comphcost_asadult,recreation,recreation_asadult,item_guide,itemguide_asadult,bathorse_cost,
	  bathcost_asadult,ridehorse_cost,ridecost_asadult,climb_register_cost,climbrcost_asadult,climb_nexus_cost,climbncost_asadult,else_cost,elsecost_asadult,
	  presented,valid,group_code,group_date,show_ticket,show_traveldoc,show_tourguide,show_hotel,show_rentcar,show_bigtraffic,show_dinner,show_insurance,show_comphcost,
	  show_recreation,show_itemguide,show_bathorse,show_ridehorse,show_climbregister,show_climbnexus,show_elsecost,show_presented,agoda_detail)
      values(#{id},#{routeTemplate}, #{beriefTrip},#{showTrip}, #{adults},#{children}, now(), now(), #{remark}, #{createBy}, #{updateBy}, #{asAdult},#{ticketBlock},#{travelDocs},
	  #{traveldocAsadult},#{tourGuide},#{tourguideAsadult},#{hotel},#{hotelAsadult},#{rentCar},#{rentcarAsadult},#{bigTraffic},#{bigTrafficSum},#{bigtrafficeAsadult},#{dinner},
	  #{dinnerAsadult},#{insurance},#{insuranceAsadult},#{comprehensiveCosts},#{comphcostAsadult},#{recreation},#{recreationAsadult},#{itemGuide},#{itemguideAsadult},#{bathorseCost},
	  #{bathcostAsadult},#{ridehorseCost},#{ridecostAsadult},#{climbRegisterCost},#{climbrcostAsadult},#{climbNexusCost},#{climbncostAsadult},#{elseCost},#{elsecostAsadult},
	  #{presented},true,#{groupCode},#{groupDate},#{showTicket},#{showTraveldoc},#{showTourguide},#{showHotel},#{showRentcar},#{showBigtraffic},#{showDinner},#{showInsurance},#{showComphcost},
	  #{showRecreation},#{showItemguide},#{showBathorse},#{showRidehorse},#{showClimbregister},#{showClimbnexus},#{showElsecost},#{showPresented},#{agodaDetail})
</insert>

 <!-- 修改记录，只修改只不为空的字段 -->
<update id="update" parameterType="com.itour.entity.QuoteForm" >
	update quote_form set update_time=now(),
	<trim  suffixOverrides="," >
		<if test="showTicket != null and showTicket != ''">show_ticket=#{showTicket},</if>
		<if test="showTraveldoc != null and showTraveldoc != ''">show_traveldoc=#{showTraveldoc},</if>
		<if test="showTourguide != null and showTourguide != ''">show_tourguide=#{showTourguide},</if>
		<if test="showHotel != null and showHotel != ''">show_hotel=#{showHotel},</if>
		<if test="showRentcar != null and showRentcar != ''">show_rentcar=#{showRentcar},</if>
		<if test="showBigtraffic != null and showBigtraffic != ''">show_bigtraffic=#{showBigtraffic},</if>
		<if test="showDinner != null and showDinner != ''">show_dinner=#{showDinner},</if>
		<if test="showInsurance != null and showInsurance != ''">show_insurance=#{showInsurance},</if>
		<if test="showComphcost != null and showComphcost != ''">show_comphcost=#{showComphcost},</if>
		<if test="showRecreation != null and showRecreation != ''">show_recreation=#{showRecreation},</if>
		<if test="showItemguide != null and showItemguide != ''">show_itemguide=#{showItemguide},</if>
		<if test="showBathorse != null and showBathorse != ''">show_bathorse=#{showBathorse},</if>
		<if test="showRidehorse != null and showRidehorse != ''">show_ridehorse=#{showRidehorse},</if>
		<if test="showClimbregister != null and showClimbregister != ''">show_climbregister=#{showClimbregister},</if>
		<if test="showClimbnexus != null and showClimbnexus != ''">show_climbnexus=#{showClimbnexus},</if>
		<if test="showElsecost != null and showElsecost != ''">show_elsecost=#{showElsecost},</if>
		<if test="showPresented != null and showPresented != ''">show_presented=#{showPresented},</if>	
		<if test="routeTemplate != null and routeTemplate != ''">route_template=#{routeTemplate},</if>
		<if test="beriefTrip != null and beriefTrip != ''">berief_trip=#{beriefTrip},</if>
		<if test="showTrip != null and showTrip  != ''">show_trip =#{showTrip},</if>
		<if test="adults != null and adults != ''">adults=#{adults},</if>
		<if test="children != null and children != ''">children=#{children},</if>
		<if test="remark != null and remark != ''">remark=#{remark},</if>
		<if test="createBy != null and createBy !=''">create_by=#{createBy},</if>
		<if test="updateBy != null and updateBy !=''">update_by=#{updateBy},</if>
		<if test="asAdult != null and asAdult !=''">as_adult=#{asAdult},</if>
		<if test="ticketBlock!=null and ticketBlock!=''">ticket_block=#{ticketBlock},</if>
		<if test="ticketAsadult != null and ticketAsadult != ''">ticket_asadult=#{ticketAsadult},</if>
		<if test="travelDocs!=null and travelDocs!=''">travel_docs=#{travelDocs},</if>
		<if test="traveldocAsadult != null and traveldocAsadult != ''">traveldoc_asadult=#{traveldocAsadult},</if>
		<if test="tourGuide!=null and tourGuide!=''">tour_guide=#{tourGuide},</if>
		<if test="tourguideAsadult != null and tourguideAsadult != ''">tourguide_asadult=#{tourguideAsadult},</if>
		<if test="hotel!=null and hotel!=''">hotel=#{hotel},</if>
		<if test="hotelAsadult != null and hotelAsadult != ''">hotel_asadult=#{hotelAsadult},</if>
		<if test="rentCar!=null and rentCar !=''">rent_car=#{rentCar},</if>
		<if test="rentcarAsadult != null and rentcarAsadult !=''">rentcar_asadult=#{rentcarAsadult},</if>
		<if test="bigTraffic !=null and bigTraffic !=''">big_traffic=#{bigTraffic},</if>
		<if test="bigTrafficSum != null and bigTrafficSum !=''">big_traffic_sum=#{bigTrafficSum},</if>
		<if test="bigtrafficeAsadult != null and bigtrafficeAsadult !=''">bigtraffice_asadult=#{bigtrafficeAsadult},</if>
		<if test="dinner != null and dinner !=''">dinner=#{dinner},</if>
		<if test="dinnerAsadult != null and dinnerAsadult != ''">dinner_asadult=#{dinnerAsadult},</if>
		<if test="insurance!=null and insurance!=''">insurance=#{insurance},</if>
		<if test="insuranceAsadult != null and insuranceAsadult != ''">insurance_asadult=#{insuranceAsadult},</if>
		<if test="comprehensiveCosts!=null and comprehensiveCosts !=''">comprehensive_costs=#{comprehensiveCosts},</if>
		<if test="comphcostAsadult != null and comphcostAsadult != ''">comphcost_asadult=#{comphcostAsadult},</if>
		<if test="recreation!=null and recreation!=''">recreation=#{recreation},</if>
		<if test="recreationAsadult != null and recreationAsadult != ''">recreation_asadult=#{recreationAsadult},</if>
		<if test="itemGuide!=null and itemGuide!=''">item_guide=#{itemGuide},</if>
		<if test="itemguideAsadult != null and itemguideAsadult != ''">itemguide_asadult=#{itemguideAsadult},</if>
		<if test="bathorseCost!=null and bathorseCost!=''">bathorse_cost=#{bathorseCost},</if>
		<if test="bathcostAsadult != null and bathcostAsadult != ''">bathcost_asadult=#{bathcostAsadult},</if>
		<if test="ridehorseCost!=null and ridehorseCost !=''">ridehorse_cost=#{ridehorseCost},</if>
		<if test="ridecostAsadult!=null">ridecost_asadult=#{ridecostAsadult},</if>
		<if test="climbRegisterCost!=null and climbRegisterCost!=''">climb_register_cost=#{climbRegisterCost},</if>
		<if test="climbrcostAsadult != null and climbrcostAsadult != ''">climbrcost_asadult=#{climbrcostAsadult},</if>
		<if test="climbNexusCost!=null and climbNexusCost!=''">climb_nexus_cost=#{climbNexusCost},</if>
		<if test="climbncostAsadult != null and climbncostAsadult != ''">climbncost_asadult=#{climbncostAsadult},</if>
		<if test="elseCost!=null and elseCost!=''">else_cost=#{elseCost},</if>
		<if test="elsecostAsadult!=null and elsecostAsadult!=''">elsecost_asadult=#{elsecostAsadult},</if>
		<if test="presented!=null and presented!=''">presented=#{presented},</if>
		<if test="groupCode!=null and groupCode!=''">group_code =#{groupCode},</if>
		<if test="groupDate != null and groupDate !=''" >group_date= #{groupDate},</if>
		<!-- <if test="valid!=null and valid !=''">valid=#{valid},</if>	 -->	
		<if test="agodaDetail !=null and agodaDetail !=''">agoda_detail=#{agodaDetail},</if>		
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="java.lang.String">
	delete from quote_form where id = #{id}
</delete>
 <!-- 逻辑删除 -->
 <update id="logicdelete" parameterType="java.lang.String">
	update feed_back set valid=0 where id = #{id}
</update>
<!-- 根据id查询 报价单 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from quote_form where id = #{id}
</select>
<!-- 根据routeTemplate查询 报价单 -->
<select id="queryByRtId"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from quote_form where route_template = #{routeTemplate}
</select>
<select id="selectById"  resultMap="BaseResultMapVo" parameterType="java.lang.String">
	select id, route_template, berief_trip,show_trip, adults,children, create_time, update_time, remark, create_by, update_by, as_adult,ticket_block,travel_docs,
	  traveldoc_asadult,tour_guide,tourguide_asadult,hotel,hotel_asadult,rent_car,rentcar_asadult,big_traffic,big_traffic_sum,bigtraffice_asadult,dinner,
	  dinner_asadult,insurance,insurance_asadult,comprehensive_costs,comphcost_asadult,recreation,recreation_asadult,item_guide,itemguide_asadult,bathorse_cost,
	  bathcost_asadult,ridehorse_cost,ridecost_asadult,climb_register_cost,climbrcost_asadult,climb_nexus_cost,climbncost_asadult,else_cost,elsecost_asadult,
	  presented,valid,group_code,DATE_FORMAT(group_date,'%Y-%m-%d') group_date,show_ticket,show_traveldoc,show_tourguide,show_hotel,show_rentcar,show_bigtraffic,show_dinner,show_insurance,show_comphcost,
	  show_recreation,show_itemguide,show_bathorse,show_ridehorse,show_climbregister,show_climbnexus,show_elsecost,show_presented,agoda_detail
	 from quote_form where id = #{id}
</select>
<!-- 报价单 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="com.itour.base.page.BasePage">
	select count(1) from quote_form 
	<include refid="Example_Where_Clause"/>
</select>
<!-- 查询报价单列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="com.itour.base.page.BasePage">
	select <include refid="Base_Column_List"/> from quote_form 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
