<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.dao.SysUserDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.itour.entity.SysUser" >
	<result column="id" property="id"/>
	<result column="email" property="email"/>
	<result column="pwd" property="pwd"/>
	<result column="nickName" property="nickName"/>
	<result column="state" property="state"/>
	<result column="loginCount" property="loginCount"/>
	<result column="loginTime" property="loginTime"/>
	<result column="deleted" property="deleted"/>
	<result column="createTime" property="createTime"/>
	<result column="updateTime" property="updateTime"/>
	<result column="createBy" property="createBy"/>
	<result column="updateBy" property="updateBy"/>
	<result column="superAdmin" property="superAdmin"/>
	<result column="validate_code" property="validateCode"/>
	<result column="expire_date" property="expireDate"/>
</resultMap>
       
<!-- sys_user table all fields -->
<sql id="Base_Column_List" >
	 id,email,pwd,nickName,state,loginCount,loginTime,deleted,createTime,updateTime,createBy,updateBy,superAdmin,validate_code,expire_date
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where sys_user.deleted=0
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and sys_user.id like CONCAT('%', #{id}, '%')
	</if>
	 	<if test="email != null and email != ''" >
	     and sys_user.email like CONCAT('%', #{email}, '%')
	</if>
	 <if test="nickName != null and nickName != ''" >
	    and sys_user.nickName like CONCAT('%', #{nickName}, '%')
	</if>
	<if test="loginCount != null" >
	    and sys_user.loginCount =  #{loginCount}
	</if>
	<if test="loginTime != null and loginTime != ''" >
	     and DATE_FORMAT(sys_user.loginTime,'%Y-%m-%d') = DATE_FORMAT(#{loginTime},'%Y-%m-%d') 
	</if>
	<if test="deleted != null" >
	    and sys_user.deleted =  #{deleted}
	</if>
	<if test="createTime != null and createTime != ''" >
	    and DATE_FORMAT(sys_user.createTime,'%Y-%m-%d') = DATE_FORMAT(#{createTime},'%Y-%m-%d') 
	</if>
	<if test="updateTime != null and updateTime != ''" >
	     and DATE_FORMAT(sys_user.updateTime,'%Y-%m-%d') = DATE_FORMAT(#{updateTime},'%Y-%m-%d') 
	</if>
	<if test="createBy != null" >
	    and sys_user.createBy like CONCAT('%', #{createBy}, '%')
	</if>
	<if test="updateBy != null" >
	    and sys_user.updateBy like CONCAT('%', #{updateBy}, '%')
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.itour.entity.SysUser" >
  <!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into sys_user(id,email,pwd,nickName,state,loginCount,loginTime,deleted,createTime,updateTime,createBy,updateBy)
 values(#{id},#{email},#{pwd},#{nickName},0,#{loginCount},#{loginTime},#{deleted},now(),now(),#{createBy},#{updateBy})
</insert>
<!-- 记录重置密码时邮箱验证码和过期时间 -->
<update id="updateCode"  parameterType="java.util.HashMap" >
update sys_user set validate_code = #validateCode#,expire_date=#expireDate# where id=#id#
</update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="update" parameterType="com.itour.entity.SysUser" >
	update sys_user set updateTime=now(),
	<trim  suffixOverrides="," >
	<if test="email != null  and email != '' ">
		email=#{email},
	</if>
	<if test="pwd != null  and pwd != '' ">
		pwd=#{pwd},
	</if>
	<if test="nickName != null  and nickName != '' ">
		nickName=#{nickName},
	</if>
	<if test="state != null and state != '' ">
		state=#{state},
	</if>
	<if test="loginCount != null and loginCount != '' ">
		loginCount=#{loginCount},
	</if>
	<if test="loginTime != null and loginTime != '' ">
		loginTime=#{loginTime},
	</if>
	<!-- <if test="deleted != null  ">
		deleted=#{deleted},
	</if> -->
	<if test="createBy != null and createBy != '' ">
		createBy=#{createBy},
	</if>
	<if test="updateBy != null and updateBy != '' ">
		updateBy=#{updateBy},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="java.lang.String">
	delete from sys_user where id = #{id}
</delete>
<!-- 逻辑删除 -->
 <update id="logicdelete" parameterType="java.lang.String">
	update sys_user set deleted=1 where id = #{id}
</update>
<!-- 根据id查询 系统用户 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from sys_user where id = #{id}
</select>

<!-- 系统用户 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="com.itour.base.page.BasePage">
	select count(1) from sys_user 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询系统用户列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="com.itour.base.page.BasePage">
	select 
	<include refid="Base_Column_List"/>
	from sys_user 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
<!-- 用于登录检查 -->
<select id="queryLogin" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from sys_user 
	where email=#{email} and pwd=#{pwd}
</select>

<!-- 用于登录检查 -->
<select id="getUserCountByEmail" resultType="java.lang.Integer"  parameterType="java.lang.String">
	select count(1)
	from sys_user where email=#{email}
</select>

<!-- 使用邮箱获取信息 -->
<select id="getUserByEmail" resultType="com.itour.entity.SysUser"  parameterType="java.lang.String">
	select <include refid="Base_Column_List"/>
	from sys_user where email=#{email}
</select>
</mapper>   
